@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

:root{
  --background: red;
  --primary: #1D1D41;
  --primary-dark: #141332;
  --secondary: #CBC8FF;
  --input: #DCD9D9;
}

@theme {
  /* color */
  --color-aza-500: #fff;
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-input: var(--input);

  /* font */
  --font-karla: "Karla", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

/* body{ 
  background: var(--background);
} */